<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
  "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">

  <title>UNC Charlotte | My UNC Charlotte</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  
</head>
<body class="" >
  

  <br>
        <a class="name" ng-href="/#/login" title="Home">
          <img src="./49er.png" class="resize" alt="My UNC Charlotte Logo" />
        </a>
  
 <!--<span>{{currentNavItem}}</span>`-->
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-click="goto('page1')" name="page1">Page One</md-nav-item>
      <md-nav-item md-nav-click="goto('page2')" name="page2">Page Two</md-nav-item>
      <md-nav-item md-nav-click="goto('page3')" name="page3">Page Three</md-nav-item>
      <!-- these require actual routing with ui-router or ng-route, so they won't work in the demo
      <md-nav-item md-nav-sref="app.page4" name="page4">Page Four</md-nav-item>
      <md-nav-item md-nav-href="#page5" name="page5">Page Five</md-nav-item>
      -->
    </md-nav-bar>
    <div class="ext-content">
    
   

   <!--
   <div id="main-row" class="row">

    <section class="col-sm-12">
            <a id="main-content"></a>

                    <h1 class="page-header">49er List</h1>
                                                       
    </section>

  </div>

-->
  
</body>
        <!-- Campus Alerts -->
          

        <!-- For Google Search -->
        
</html>
